<footer class="site-footer">

  <div class="wrapper">
    <div>
      <a><img class="footer-entity" src="{{site.baseurl}}/images/parceiros/inevo.png"></a>
      <a><img class="footer-entity" src="{{site.baseurl}}/images/parceiros/inesc-id.png"></a>
      <a><img class="footer-entity" src="{{site.baseurl}}/images/apoios/qren.png"></a>
      <a><img class="footer-entity" src="{{site.baseurl}}/images/apoios/por.png"></a>
      <a><img class="footer-entity" src="{{site.baseurl}}/images/apoios/feddr.png"></a>
    </div>
  </div>

  <div class="footer-contact"><a class="page-link" href="mailto:{{ site.email }}">{{ site.email }}</a></div>
  <div class="footer-copyright"><a class="page-link" href="http://www.inevo.pt">inEvo</a> 2015 - All rights reserved</div>

</footer>
