<style>
  body {
    text-align: center;
  }
  .email {
    width: 300px;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    background-color: transparent;
    color: white;
  }
  .button {
    width: 220px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 8px;
    padding: 12px;
    background: #D81B60;
    color: #ffffff;
    border: 0px solid;
  }
</style>
<div id="mc_embed_signup">
  <form action="//inevo.us11.list-manage.com/subscribe/post?u=811793a122e76d12edfb56e94&amp;id=861b725ea1"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
    <input type="hidden" value="" name="b_811793a122e76d12edfb56e94_861b725ea1" tabindex="-1">
    <input class="email" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><br>
    <input class="button" type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
</div>